## Preprocessing

In [84]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [85]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df=application_df.drop(columns=["EIN"])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [86]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NAME                    34299 non-null  object
 1   APPLICATION_TYPE        34299 non-null  object
 2   AFFILIATION             34299 non-null  object
 3   CLASSIFICATION          34299 non-null  object
 4   USE_CASE                34299 non-null  object
 5   ORGANIZATION            34299 non-null  object
 6   STATUS                  34299 non-null  int64
 7   INCOME_AMT              34299 non-null  object
 8   SPECIAL_CONSIDERATIONS  34299 non-null  object
 9   ASK_AMT                 34299 non-null  int64
 10  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(8)
memory usage: 2.9+ MB

In [87]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE

attrition_cat = application_df.columns.tolist()
application_df[attrition_cat].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [88]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
value_count_for_each_unique_AppType = application_df['APPLICATION_TYPE'].value_counts()
print(value_count_for_each_unique_AppType)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [89]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

cutoff_value = 1065
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [90]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
value_count_for_each_unique_classification = application_df['CLASSIFICATION'].value_counts()
print(value_count_for_each_unique_classification)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [91]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
values_unique_classification_greater_than_1 = value_count_for_each_unique_classification[value_count_for_each_unique_classification > 1]
print(values_unique_classification_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [92]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cutoff_value_1 = 1882
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff_value_1].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [93]:
value_count_for_each_unique_AFFILIATION = application_df['AFFILIATION'].value_counts()
print(value_count_for_each_unique_AFFILIATION)

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [94]:
cutoff_value_2 = 18480
AFFILIATION_to_replace = application_df['AFFILIATION'].value_counts()[application_df['AFFILIATION'].value_counts() < cutoff_value_2].index.tolist()

# Replace in dataframe
for aff in AFFILIATION_to_replace:
    application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(aff,"Other")
    
# Check to make sure binning was successful
application_df['AFFILIATION'].value_counts()

Independent    18480
Other          15819
Name: AFFILIATION, dtype: int64

In [95]:
value_count_for_each_unique_USE_CASE = application_df['USE_CASE'].value_counts()
print(value_count_for_each_unique_USE_CASE)

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [96]:
cutoff_value_3 = 28095
USE_CASE_to_replace = application_df['USE_CASE'].value_counts()[application_df['USE_CASE'].value_counts() < cutoff_value_3].index.tolist()

# Replace in dataframe
for ucase in USE_CASE_to_replace:
    application_df['USE_CASE'] = application_df['USE_CASE'].replace(ucase,"Other")
    
# Check to make sure binning was successful
application_df['USE_CASE'].value_counts()

Preservation    28095
Other            6204
Name: USE_CASE, dtype: int64

In [97]:
value_count_for_each_unique_ORGANIZATION = application_df['ORGANIZATION'].value_counts()
print(value_count_for_each_unique_ORGANIZATION)

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

In [98]:
cutoff_value_4 = 23515
ORGANIZATION_to_replace = application_df['ORGANIZATION'].value_counts()[application_df['ORGANIZATION'].value_counts() < cutoff_value_4].index.tolist()

# Replace in dataframe
for org in ORGANIZATION_to_replace:
    application_df['ORGANIZATION'] = application_df['ORGANIZATION'].replace(org,"Other")
    
# Check to make sure binning was successful
application_df['ORGANIZATION'].value_counts()

Trust    23515
Other    10784
Name: ORGANIZATION, dtype: int64

In [99]:
value_count_for_each_unique_STATUS = application_df['STATUS'].value_counts()
print(value_count_for_each_unique_STATUS)

1    34294
0        5
Name: STATUS, dtype: int64

In [100]:
value_count_for_each_unique_INCOME_AMT = application_df['INCOME_AMT'].value_counts()
print(value_count_for_each_unique_INCOME_AMT)

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [101]:
cutoff_value_5 = 3374
INCOME_AMT_to_replace = application_df['INCOME_AMT'].value_counts()[application_df['INCOME_AMT'].value_counts() < cutoff_value_5].index.tolist()

# Replace in dataframe
for inam in INCOME_AMT_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(inam,"Other")
    
# Check to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
Other             2790
Name: INCOME_AMT, dtype: int64

In [102]:
value_count_for_each_unique_SPECIAL_CONSIDERATIONS = application_df['SPECIAL_CONSIDERATIONS'].value_counts()
print(value_count_for_each_unique_SPECIAL_CONSIDERATIONS)

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [103]:
value_count_for_each_unique_ASK_AMT = application_df['ASK_AMT'].value_counts()
print(value_count_for_each_unique_ASK_AMT)

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [104]:
cutoff_value_6 = 25398
ASK_AMT_to_replace = application_df['ASK_AMT'].value_counts()[application_df['ASK_AMT'].value_counts() < cutoff_value_6].index.tolist()

# Replace in dataframe
for askam in ASK_AMT_to_replace:
    application_df['ASK_AMT'] = application_df['ASK_AMT'].replace(askam,"Other")
    
# Check to make sure binning was successful
application_df['ASK_AMT'].value_counts()

5000     25398
Other     8901
Name: ASK_AMT, dtype: int64

In [105]:
value_count_for_each_unique_NAME = application_df['NAME'].value_counts()
print(value_count_for_each_unique_NAME)

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [106]:
cutoff_value_7 = 408
NAME_to_replace = application_df['NAME'].value_counts()[application_df['NAME'].value_counts() < cutoff_value_7].index.tolist()

# Replace in dataframe
for name in NAME_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                              30674
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC      408
Name: NAME, dtype: int64

In [107]:
value_count_for_each_unique_IS_SUCCESSFUL = application_df['IS_SUCCESSFUL'].value_counts()
print(value_count_for_each_unique_IS_SUCCESSFUL)

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [108]:
application_df=application_df.drop(columns=["STATUS", "SPECIAL_CONSIDERATIONS"])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,Other,Other,Independent,C1000,Other,Other,0,5000,1
1,Other,T3,Independent,C2000,Preservation,Other,Other,Other,1
2,Other,T5,Other,C3000,Other,Other,0,5000,0
3,Other,T3,Other,C2000,Preservation,Trust,Other,Other,1
4,Other,T3,Independent,C1000,Other,Trust,100000-499999,Other,1

In [109]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
columns_to_convert = ['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'ASK_AMT']
application_df = pd.get_dummies(application_df, columns=columns_to_convert)
application_df.head()

,IS_SUCCESSFUL,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_TOPS CLUB INC,NAME_UNITED STATES BOWLING CONGRESS INC,NAME_WASHINGTON STATE UNIVERSITY,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,...,USE_CASE_Other,USE_CASE_Preservation,ORGANIZATION_Other,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_100000-499999,INCOME_AMT_25000-99999,INCOME_AMT_Other,ASK_AMT_5000,ASK_AMT_Other
0,1,0,1,0,0,0,0,1,0,0,...,1,0,1,0,1,0,0,0,1,0
1,1,0,1,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,1,0,1
2,0,0,1,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,1,0
3,1,0,1,0,0,0,0,0,0,1,...,0,1,0,1,0,0,0,1,0,1
4,1,0,1,0,0,0,0,0,0,1,...,1,0,0,1,0,1,0,0,0,1

In [110]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 31 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   IS_SUCCESSFUL                                         34299 non-null  int64
 1   NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC  34299 non-null  uint8
 2   NAME_Other                                            34299 non-null  uint8
 3   NAME_PARENT BOOSTER USA INC                           34299 non-null  uint8
 4   NAME_TOPS CLUB INC                                    34299 non-null  uint8
 5   NAME_UNITED STATES BOWLING CONGRESS INC               34299 non-null  uint8
 6   NAME_WASHINGTON STATE UNIVERSITY                      34299 non-null  uint8
 7   APPLICATION_TYPE_Other                                34299 non-null  uint8
 8   APPLICATION_TYPE_T19                                  34299 non-null  uint8
 9   APPLICATION_TYPE_T3                                   34299 non-null  uint8
 10  APPLICATION_TYPE_T4                                   34299 non-null  uint8
 11  APPLICATION_TYPE_T5                                   34299 non-null  uint8
 12  APPLICATION_TYPE_T6                                   34299 non-null  uint8
 13  AFFILIATION_Independent                               34299 non-null  uint8
 14  AFFILIATION_Other                                     34299 non-null  uint8
 15  CLASSIFICATION_C1000                                  34299 non-null  uint8
 16  CLASSIFICATION_C1200                                  34299 non-null  uint8
 17  CLASSIFICATION_C2000                                  34299 non-null  uint8
 18  CLASSIFICATION_C2100                                  34299 non-null  uint8
 19  CLASSIFICATION_C3000                                  34299 non-null  uint8
 20  CLASSIFICATION_Other                                  34299 non-null  uint8
 21  USE_CASE_Other                                        34299 non-null  uint8
 22  USE_CASE_Preservation                                 34299 non-null  uint8
 23  ORGANIZATION_Other                                    34299 non-null  uint8
 24  ORGANIZATION_Trust                                    34299 non-null  uint8
 25  INCOME_AMT_0                                          34299 non-null  uint8
 26  INCOME_AMT_100000-499999                              34299 non-null  uint8
 27  INCOME_AMT_25000-99999                                34299 non-null  uint8
 28  INCOME_AMT_Other                                      34299 non-null  uint8
 29  ASK_AMT_5000                                          34299 non-null  uint8
 30  ASK_AMT_Other                                         34299 non-null  uint8
dtypes: int64(1), uint8(30)
memory usage: 1.2 MB

In [111]:
application_df=application_df.drop(columns=["AFFILIATION_Other", "USE_CASE_Other", "ORGANIZATION_Other", "ASK_AMT_Other"])
application_df.head()

,IS_SUCCESSFUL,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_TOPS CLUB INC,NAME_UNITED STATES BOWLING CONGRESS INC,NAME_WASHINGTON STATE UNIVERSITY,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,...,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_Other,USE_CASE_Preservation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_100000-499999,INCOME_AMT_25000-99999,INCOME_AMT_Other,ASK_AMT_5000
0,1,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
1,1,0,1,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
3,1,0,1,0,0,0,0,0,0,1,...,0,0,0,1,1,0,0,0,1,0
4,1,0,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0

In [112]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [113]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [117]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=80, activation="selu", input_dim=30))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=50, activation="selu"))
#nn.add(tf.keras.layers.Dense(units=30, activation="selu"))
#nn.add(tf.keras.layers.Dense(units=30, activation="selu"))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 80)                2480

 dense_10 (Dense)            (None, 50)                4050

 dense_11 (Dense)            (None, 1)                 51

=================================================================
Total params: 6581 (25.71 KB)
Trainable params: 6581 (25.71 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [118]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [119]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100

ValueError: in user code:

    File "C:\Users\h_god\anaconda3\envs\dev\Lib\site-packages\keras\src\engine\training.py", line 1377, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\h_god\anaconda3\envs\dev\Lib\site-packages\keras\src\engine\training.py", line 1360, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\h_god\anaconda3\envs\dev\Lib\site-packages\keras\src\engine\training.py", line 1349, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\h_god\anaconda3\envs\dev\Lib\site-packages\keras\src\engine\training.py", line 1126, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\h_god\anaconda3\envs\dev\Lib\site-packages\keras\src\utils\traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\h_god\anaconda3\envs\dev\Lib\site-packages\keras\src\engine\input_spec.py", line 298, in assert_input_compatibility
        raise ValueError(

    ValueError: Input 0 of layer "sequential_3" is incompatible with the layer: expected shape=(None, 30), found shape=(None, 26)

In [102]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5624 - accuracy: 0.7152 - 295ms/epoch - 1ms/step
Loss: 0.5623854398727417, Accuracy: 0.7152186632156372

In [70]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('fit_model.h5')

C:\Users\h_god\anaconda3\envs\dev\Lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(